{% extends 'base.html.twig' %}

{% block title %}Hello {% endblock %}



{% block body %}
    <li><a href="{{path('hello_page') }} ">back</a></li>
    <h1>Run a new algorythm</h1>
    {{ form_start(algForm) }}
    {{ form_widget(algForm) }}
    <button type="submit" class="btn btn-primary">Run!</button>
    {{ form_end(algForm) }}




    <h1>{{ wynikiAlgorytmuUczelnie is not null ?  "Wynik:" }}</h1>




    {% for wyn in wynikiAlgorytmuUczelnie %}

        {% dump(wyn) %}
        <h5> Dzien tygodnia:{{ wyn.numer_dnia }} Nazwa zajec: {{ wyn.nazwa_zajec }}</h5>
    {% endfor %}
    {% dump(FLAGA) %}

    {% if FLAGA %}
        <h4>{{ wynikiAlgorytmuUczelnie is not null ?  "Weryfikacjia negatywna -nie umieszczono   "}}{{ wynikiAlgorytmuUczelnie is not null ? ilosc_niezapisanych }}{{ wynikiAlgorytmuUczelnie is not null ?"   przedmiotow" }} </h4>
    {% else %}
        <h4>{{ wynikiAlgorytmuUczelnie is not null ?  "Weryfikacjia pomyslna-wszystkie przedmoity umieszczone w grafiku"  }}</h4>
    {% endif %}

{% endblock %}
